params {
    //Toggle pipeline steps & options
    selection = true
    keep_sam = false    // Keep contaminant SAMs for debugging
    align = true
    run_orfquant = true // ORF calling with ORFquant
    run_price = true    // ORF calling with PRICE
    ribo_qc = true
    orfquant = true
    price = true
    expression = true
    annotation = true

    //Default file and path
    project_folder="./"
    outdir = "${params.project_folder}/output"
    reference_gtf=null                          // this can either be a custom transcriptome or an ensembl ref GTF
    reference_fasta=null
    contaminants_fasta=null                     // we have an example fasta in ./assets/
    rannot=null                                 // R annotation file required for ORFquant
    star_index=null
    bowtie2_index=null
    bam_path=null
    reads_path=null
}

manifest {
    name            = 'jipvandinter/nf_ribo_pipeline'
    author          = 'Jip van Dinter, Damon Hofman'
    homePage        = 'https://github.com/jipvandinter/nf_ribo_pipeline/'
    defaultBranch   = 'main'
    description     = 'Ribosome profiling pipeline that includes scrubbing sequences, alignment, QC, P-site cut-off calculations and finally ORF annotation'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.4'
    version         = 'v0.1'
}

profiles {
    local {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '10GB'
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'cpu'
        process.memory = { task -> '24 GB' }
        process.cpus = { task -> 4 }
        process.queueSize = 20
    }
}

singularity {
    enabled = true
    autoMounts = true
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.project_folder}/log/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.project_folder}/log/report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.project_folder}/log/trace.txt"
}
